.grid-container {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    gap: 2px;
}

.grid-row {
    display: flex;
    width: 100%;
}

.grid-cell {
    justify-content: center;
    align-items: center;
    min-width: 30px;
    height: 30px;
    border: 1px solid #ccc;
}

.word {
    background-color: yellow;
}