.grid-container {
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(30px, 1fr));
    gap: 2px;
    user-select: none;
}

.grid-row {
    display: flex;
    width: 100%;
}

.grid-cell {
    justify-content: center;
    align-items: center;
    min-width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    margin: 5px;
}

.word {
    background-color: yellow;
}

.highlighted {
    background-color: var(--secondary-green);
    color: var(--primary-cream);
}

.found {
    background-color: var(--primary-green);
    color: var(--primary-cream);
}