:root {
  --primary-green: #3a5d46;
  --secondary-green: #3c5b46;

  --primary-cream: #f6f1e9;
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
  overflow: auto;
}

header {
  font-family: 'Instrument Serif';
}

body {
  font-family: 'Instrument Serif';
  color: var(--secondary-green);
  background-color: var(--primary-cream);
  height: 100%;

}